
{{>nav}} 

  <div class="container">     

      <div class="jumbotron">
        <h1 class="display-3">Meet Native Speaker</h1>
        <p class="lead">Most people fail to get a high speaking score in IELTS because they could not find proper native speakers Join us and Find speaking mentor</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>
      <h2> Other lectures</h2>
      <hr>
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Listening</h4>
          <p>You will get lots of practice with our step-by-step strategy for the different listening questions.</p>

          <h4>Writing1</h4>
          <p>You can use our unique sentence-by-sentence structure to write excellent and letters.</p>

          <h4>Writing2</h4>
          <p>We’ll show you how to select the main features examiners want and report them in clear English.</p>
          
        </div>

        <div class="col-lg-6">
          <h4>Reading</h4>
          <p>We break down every type of question, identify the common problems and solve them for you.</p>

          <h4>Speaking</h4>
          <p>Learn how to improve your pronunciation, fluency and grammar and answer any question confidently.</p>
          
          <h4>Vocabulary</h4>
          <p>We’ve analysed the most common topics for you and listed keywords you will need to succeed.</p>
       
        </div>
      </div>

{{>footer}} 

    </div> <!-- /container -->

    
   

{{!-- <div class="landing-main">

 <h1>HOME</h1>
    <a href="/form"> <button class="homebutton"> Rate </button></a>
    <a href="/properties"><button class="homebutton"> View </button></a>

      <div class="loginbox">

          <form action="/feedback" method="post" name="login">
          Username <input type="text" name="userid"/> 
          Password <input type="password" name="pswrd"/>
          <a href="/form"><input type="submit" value="Login"/></a>
          <input type="reset" value="Cancel"/>
        </form>

      </div>
      <div class="about">
       <p> 
         Shelter is a basic human need. The quality of housing is a key material determinant of health and people's ability
         to learn, work and grow. There are people living in poor quality housing all across New Zealand and we need to work
         together to solve this problem. 
      </p>
      <p>
         <em>Rate my Rental </em>is a tool that has been created to empower tenants. This tool gives people the ability to frequently grade
         the building quality. This creates more transparency and allows the landlord to improve the quality of the building,
         providing the tenants with a healthy place to call home.
      </p>
      </div>
</div> --}}